.MainContainer{
    height:100vh;
    display: flex;
    padding:20px;
    overflow:hidden;
    width:100%;
    color:white;
}
.Musicbox{
    width:100%;
}

.songsContainer{
    color:white;
    height:95%;
    overflow-y: scroll;
}

.Player{
    width:100%;
    color:white;
}

.lyrics{
    width:100%;
    padding:20px;
    text-align:center;
    overflow:hidden;
    overflow-y:scroll;
}